<ion-header>
  <ion-toolbar>
    <ion-title>Select Your Time</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
    <ion-label>Hour</ion-label>
    <ion-item>
        <ion-select value="months" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="one">1</ion-select-option>
          <ion-select-option value="two">2</ion-select-option>
          <ion-select-option value="three">3</ion-select-option>
          <ion-select-option value="four">4</ion-select-option>
          <ion-select-option value="five">5</ion-select-option>
          <ion-select-option value="six">6</ion-select-option>
          <ion-select-option value="seven">7</ion-select-option>
          <ion-select-option value="eight">8</ion-select-option>
          <ion-select-option value="nine">9</ion-select-option>
          <ion-select-option value="ten">10</ion-select-option>
          <ion-select-option value="eleven">11</ion-select-option>
          <ion-select-option value="twelve">12</ion-select-option>
          

        </ion-select>
      </ion-item>

      <ion-label>Minute</ion-label>
              <ion-item>
                  <ion-select value="months" okText="Okay" cancelText="Dismiss">
                    <ion-select-option value="one">1</ion-select-option>
                    <ion-select-option value="two">2</ion-select-option>
                    <ion-select-option value="three">3</ion-select-option>
                    <ion-select-option value="four">4</ion-select-option>
                    <ion-select-option value="five">5</ion-select-option>
                    <ion-select-option value="six">6</ion-select-option>
                    <ion-select-option value="seven">7</ion-select-option>
                    <ion-select-option value="eight">8</ion-select-option>
                    <ion-select-option value="nine">9</ion-select-option>
                    <ion-select-option value="ten">10</ion-select-option>
                    <ion-select-option value="eleven">11</ion-select-option>
                    <ion-select-option value="twelve">12</ion-select-option>
                    <ion-select-option value="thirteen">13</ion-select-option>
                    <ion-select-option value="fourteen">14</ion-select-option>
                    <ion-select-option value="fifteen">15</ion-select-option>
                    <ion-select-option value="sixteen">16</ion-select-option>
                    <ion-select-option value="seventeen">17</ion-select-option>
                    <ion-select-option value="eighteen">18</ion-select-option>
                    <ion-select-option value="nineteen">19</ion-select-option>
                    <ion-select-option value="twenty">20</ion-select-option>
                    <ion-select-option value="twenty-one">21</ion-select-option>
                    <ion-select-option value="twenty-two">22</ion-select-option>
                    <ion-select-option value="twenty-three">23</ion-select-option>
                    <ion-select-option value="twenty-four">24</ion-select-option>
                    <ion-select-option value="twenty-five">25</ion-select-option>
                    <ion-select-option value="twenty-six">26</ion-select-option>
                    <ion-select-option value="twenty-seven">27</ion-select-option>
                    <ion-select-option value="twenty-eight">28</ion-select-option>
                    <ion-select-option value="twenty-nine">29</ion-select-option>
                    <ion-select-option value="thirty">30</ion-select-option>
                    <ion-select-option value="thirty-one">31</ion-select-option>
                    <ion-select-option value="thirty-two">32</ion-select-option>
                    <ion-select-option value="thirty-three">33</ion-select-option>
                    <ion-select-option value="thirty-four">34</ion-select-option>
                    <ion-select-option value="thirty-five">35</ion-select-option>
                    <ion-select-option value="thirty-six">36</ion-select-option>
                    <ion-select-option value="thirty-seven">37</ion-select-option>
                    <ion-select-option value="thirty-eight">38</ion-select-option>
                    <ion-select-option value="thirty-nine">39</ion-select-option>
                    <ion-select-option value="forty">40</ion-select-option>
                    <ion-select-option value="forty-one">41</ion-select-option>
                    <ion-select-option value="forty-two">42</ion-select-option>
                    <ion-select-option value="forty-three">43</ion-select-option>
                    <ion-select-option value="forty-four">44</ion-select-option>
                    <ion-select-option value="forty-five">45</ion-select-option>
                    <ion-select-option value="forty-six">46</ion-select-option>
                    <ion-select-option value="forty-seven">47</ion-select-option>
                    <ion-select-option value="forty-eight">48</ion-select-option>
                    <ion-select-option value="forty-nine">49</ion-select-option>
                    <ion-select-option value="Fifty">50</ion-select-option>
                    <ion-select-option value="Fifty-one">51</ion-select-option>
                    <ion-select-option value="Fifty-two">52</ion-select-option>
                    <ion-select-option value="Fifty-three">53</ion-select-option>
                    <ion-select-option value="Fifty-four">54</ion-select-option>
                    <ion-select-option value="Fifty-five">55</ion-select-option>
                    <ion-select-option value="Fifty-six">56</ion-select-option>
                    <ion-select-option value="Fifty-seven">57</ion-select-option>
                    <ion-select-option value="Fifty-eight">58</ion-select-option>
                    <ion-select-option value="Fifty-nine">59</ion-select-option>
    
                  </ion-select>
                </ion-item>

                <ion-label>AM/PM</ion-label>
                <ion-item>
                  <ion-select value="timeofday" okText="Okay" cancelText="Dismiss">
                    <ion-select-option value="AM">AM</ion-select-option>
                    <ion-select-option value="PM">PM</ion-select-option>
                  </ion-select>
                </ion-item>

              </ion-list>

</ion-content>
