<ion-header>
  <ion-toolbar>
    <ion-title>Select Your Date</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   <ion-list>
        <ion-label>Month</ion-label>
        <ion-item>
            <ion-select value="months" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="January">January</ion-select-option>
              <ion-select-option value="February">February</ion-select-option>
              <ion-select-option value="March">March</ion-select-option>
              <ion-select-option value="April">April</ion-select-option>
              <ion-select-option value="May">May</ion-select-option>
              <ion-select-option value="June">June</ion-select-option>
              <ion-select-option value="July">July</ion-select-option>
              <ion-select-option value="August">August</ion-select-option>
              <ion-select-option value="September">September</ion-select-option>
              <ion-select-option value="October">October</ion-select-option>
              <ion-select-option value="November">November</ion-select-option>
              <ion-select-option value="December">December</ion-select-option>
            </ion-select>
          </ion-item>
    
         
              <ion-label>Day</ion-label>
              <ion-item>
                  <ion-select value="months" okText="Okay" cancelText="Dismiss">
                    <ion-select-option value="one">1</ion-select-option>
                    <ion-select-option value="two">2</ion-select-option>
                    <ion-select-option value="three">3</ion-select-option>
                    <ion-select-option value="four">4</ion-select-option>
                    <ion-select-option value="five">5</ion-select-option>
                    <ion-select-option value="six">6</ion-select-option>
                    <ion-select-option value="seven">7</ion-select-option>
                    <ion-select-option value="eight">8</ion-select-option>
                    <ion-select-option value="nine">9</ion-select-option>
                    <ion-select-option value="ten">10</ion-select-option>
                    <ion-select-option value="eleven">11</ion-select-option>
                    <ion-select-option value="twelve">12</ion-select-option>
                    <ion-select-option value="thirteen">13</ion-select-option>
                    <ion-select-option value="fourteen">14</ion-select-option>
                    <ion-select-option value="fifteen">15</ion-select-option>
                    <ion-select-option value="sixteen">16</ion-select-option>
                    <ion-select-option value="seventeen">17</ion-select-option>
                    <ion-select-option value="eighteen">18</ion-select-option>
                    <ion-select-option value="nineteen">19</ion-select-option>
                    <ion-select-option value="twenty">20</ion-select-option>
                    <ion-select-option value="twenty-one">21</ion-select-option>
                    <ion-select-option value="twenty-two">22</ion-select-option>
                    <ion-select-option value="twenty-three">23</ion-select-option>
                    <ion-select-option value="twenty-four">24</ion-select-option>
                    <ion-select-option value="twenty-five">25</ion-select-option>
                    <ion-select-option value="twenty-six">26</ion-select-option>
                    <ion-select-option value="twenty-seven">27</ion-select-option>
                    <ion-select-option value="twenty-eight">28</ion-select-option>
                    <ion-select-option value="twenty-nine">29</ion-select-option>
                    <ion-select-option value="thirty">30</ion-select-option>
                    <ion-select-option value="thirty-one">31</ion-select-option>
    
                  </ion-select>
                </ion-item>
    
                
                  <ion-label>Year</ion-label>
                  <ion-item>
                  <ion-select value="Year" okText="Okay" cancelText="Dismiss">
                    <ion-select-option value="2019">2019</ion-select-option>
                    <ion-select-option value="2020">2020</ion-select-option>
                  </ion-select>
                </ion-item>
    
          
              </ion-list>
          
</ion-content>
